
.el-store-product-markdown {
  border:solid 1px #F0F0F0;
}

.el-store-product-markdown-promise {
  margin:25px 25px 25px 25px;
}

.el-store-product-markdown-st {
  border:solid 1px #FFED97;
  background: #FFF8D7;
}

.el-store-product-markdown-statement {
  margin:25px 25px 25px 25px;
}


